html {
    height: 100vh;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html * {
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 95%;
    line-height: 1.5em;
    background: #757575;
    background-image: url("images/zenbg-1.png"), url("images/zenbg-2.png");
    background-repeat: repeat-x, repeat;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar.desktop {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    width: 100%;
    padding: 0 1.5em;
    height: 3em;
}

.navbar *.desktop {
    color: white;
}

.patch.desktop {
    height: 3em;
    padding-right: 1em;
}

.navbar_item.desktop {
    border-left: 1px firebrick solid;
}

.navbar_item_solo.desktop, .dropdown_button.desktop {
    background: none;
    border-left: 1px firebrick solid;
    text-decoration: none;
    padding: 0 1em;
}

.navbar_item_solo.desktop:hover, .navbar_item_solo.desktop:focus {
    background-color: firebrick;
}

.dropdown_button.desktop {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 100%;
}

.navbar_dropdown_list.desktop {
    display: none;
    position: absolute;
    z-index: 1;
    transform: translate(-1px, 0);
}

.navbar_submenu.desktop:hover, .navbar_submenu.desktop:focus {
    background-color: firebrick;
}

#navbar_about_menu.desktop:hover .navbar_dropdown_list, #navbar_about_menu.desktop:focus .navbar_dropdown_list {
    display: block;
}

#navbar_resources_menu.desktop:hover .navbar_dropdown_list, #navbar_resources_menu.desktop:focus .navbar_dropdown_list {
    display: block;
}

#navbar_news_menu.desktop:hover .navbar_dropdown_list, #navbar_news_menu.desktop:focus .navbar_dropdown_list {
    display: block;
}

#navbar_employment_menu.desktop:hover .navbar_dropdown_list, #navbar_employment_menu.desktop:focus .navbar_dropdown_list {
    display: block;
}

.dropdown_link_first.desktop {
    border-top: 1px darkred solid;
    border-top-right-radius: 7px;
}

.dropdown_link_last.desktop {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.navbar_dropdown_list.desktop a {
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px darkred solid;
    background-color: firebrick;
    padding: 0.3em 0;
    text-align: center;
    min-width: 20em;
}

.navbar_dropdown_list.desktop a:hover, .navbar_dropdown_list.desktop a:focus {
    background-color: darkred;
}

.navbar_item_last.desktop {
    border-right: 1px firebrick solid;
}

.mobile {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 3em);
    width: 100vw;
}

#main_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(33vh - 2.5em);
    width: 100vw;
}

#logo_slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 45%;
    overflow: hidden;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 10%,rgba(0, 0, 0, .5) 90%, rgba(0, 0, 0, 0) 100%);
}

#slideshow_slide_1, #slideshow_slide_2, #slideshow_slide_3, #slideshow_slide_4, #slideshow_slide_5, #slideshow_slide_6, #slideshow_slide_7, #slideshow_slide_8, #slideshow_slide_9, #slideshow_slide_10, #slideshow_slide_11, #slideshow_slide_12 {
    display: none;
    width: 100%;
    opacity: 1.0;
    animation-name: fade-in;
    animation-duration: 7s;
    animation-timing-function: linear;
    border-radius: 2px;
}

@keyframes fade-in {
    0% { opacity: 0.0; }
    20% { opacity: 1.0; }
    50% { opacity: 1.0; }
    80% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

@media (min-width: 1500px) {
    .logo_slideshow {
        background-position: 50% 55%;
    }
}

#slogan_phone {
    text-align: center;
    padding: 1em;
    width: 100%;
    height: 42%;
    border-top: 3px goldenrod solid;
    border-bottom: 3px goldenrod solid;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#slogan_phone * {
    font-size: 100%;
    font-weight: bold;
}

.header_text {
    color: white;
}

.emergency {
    color: red;
    text-decoration: underline;
    padding-bottom: .2em;
}

main {
    display: flex;
    flex-direction: row;
    height: calc(66vh - 2em);
    padding: 1em 5em;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1500px) {
    main {
        width: 75vw;
    }
}

#sidebar {
    flex-basis: 25%;
    height: 95%;
    background: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 3px;
}

#announcements_title {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    background-color: #776959;
    padding: .5em;
    border-bottom: 3px firebrick solid;
}

#announcements {
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    background-color: #dfd9cd;
    border-radius: 0 0 3px 3px;
    padding: 0 1em;
    padding-top: 3px;
    margin-bottom: 1em;
}

.announcement {
    width: 100%;
    min-height: 13em;
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    text-decoration: none;
    border-bottom: 1px black solid;
}

.announcement_last {
    border-bottom: none;
}

.announcement_image {
    height: 50%;
    max-width: 50%;
    margin-bottom: .5em;
    border: 1px black solid;
    border-radius: 3px;
}

#wildfire_ready_image {
    border: none;
}

.announcement_text {
    text-align: center;
    color: black;
    text-decoration: none;
}

@media (min-width: 1500px) {
    .announcement_image {
        margin-bottom: 2em;
    }
}

.announcement:hover .announcement_text, .announcement:focus .announcement_text {
    color: firebrick;
}

#helpful_links {
    display: flex;
    flex-direction: column;
    height: 25%;
    min-height: 15em;
    border-radius: 0 0 3px 3px;
}

#helpful_links_title {
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    background-color: #776959;
    padding: .5em;
    border-bottom: 3px firebrick solid;
    border-radius: 3px 3px 0 0;
}

#helpful_links_list {
    padding-left: 1em;
    list-style: none;
    background-color: #dfd9cd;  
    padding: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.helpful_link {
    width: 100%;
}

.helpful_link a::before {
    content: "\00BB";
}

.helpful_link a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: black;
}

.helpful_link:hover, .helpful_link:focus, .helpful_link:hover a, .helpful_link:focus a {
    color: firebrick;
}

.main_info {
    background-color: #dfd9cd;
    border-top: .5em #dfd9cd solid;
    border-bottom: .5em #dfd9cd solid;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    border-radius: 3px;
    flex-grow: 1;
    margin-left: 2.5em;
    padding: 2em;
    padding-bottom: 0;
    flex-basis: 75%
}

.link {
    color: firebrick !important;
}

.link:hover, .link:focus {
    color: orangered !important;
    text-decoration: underline !important;
}

#burn_ban {
    display: inline-block;
    font-size: 130%;
    font-weight: bold;
    text-align: center;
    color: firebrick;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

#burn_ban:hover, #burn_ban:focus {
    color: darkred;
}

#news_title {
    color: white;
    background-color: firebrick;
    font-size: 100%;
    margin: 0 1em;
    padding: .3em 0;
    padding-left: 1em;
    width: 95%;
    border-bottom: 3px darkred solid;
}

#articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}

.news_article {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: .5em 0;
    padding: .5em 0;
    border-bottom: 1px grey solid;
    align-items: center;
}

.article_last {
    border-bottom: none;
}

.article_content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}

.article_image {
    height: 7vw;
    width: 7vw;
    object-fit: cover;
    margin-right: 1em;
    border: 3px whitesmoke solid;
    box-shadow: 2px 2px 2px grey;
    border-radius: 3px;
}

.subpage_title {
    color: firebrick;
    margin-bottom: 1em;
    text-align: center;
}

.subpage_subtitle {
    background-color: firebrick;
    color: white;
    width: 100%;
    padding: 0.5em 1em;
    text-align: center;
}

.subpage_text {
    color: black;
    margin: 1em;
}

.subpage_image {
    border: 4px white solid;
    box-shadow: 1px 1px 5px black;
    margin: 1em;
}

.subpage_list {
    margin: 1em;
}

.subpage_list_item {
    color: black;
}

.subpage_table {
    margin-bottom: 1.5em;
    border: 1px solid black;
    border-spacing: .75em;
    width: 30em;
}

.subpage_table * {
    color: black;
}

.subpage_table_data {
    padding-right: 1em;
}

.subpage_table_row, .subpage_table_data {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.subpage_div {
    width: 100%;
}

#mission_statement_image {
    width: 85%;
}

#mission_statement_text {
    font-size: 125%;
    line-height: 200%;
    font-weight: bold;
    margin-bottom: 2em;
}

#operations_image_link {
    width: 75%;
    margin: 1.5em 0;
}

#operations_image {
    width: 100%;
    padding: 0;
    margin: 0;
}

#commissioners {
    padding-top: 1em;
}

.commissioner * {
    color: black;
}

.commissioner_name {
    color: white;
    background-color: firebrick;
    padding: .2em .5em;
}

.commissioner_image {
    float: left;
    margin: 1em;
}

.commissioner p {
    margin: 1em;
}

.commissioner ul {
    list-style: none;
}

.awards_title {
    margin-top: 1em;
    margin-left: 1em;
}

#fire_chief_title {
    margin-bottom: 1.5em;
}

.fire_chief_image {
    float: left;
    margin: 0 1.5em;
}

.fire_chief_text {
    font-weight: normal;
    margin: 1.5em;
}

#fire_chief {
    display: block;
    padding-left: 10em;
    padding-right: 10em;
}

#fire_chief_signature {
    font-style: italic;
}

#accessibility_title {
    padding-bottom: 1em;
}

.accessibility_text {
    margin: 0 3em;
    margin-bottom: 1.5em;
    align-self: flex-start;
    color: black;
}

.apparatus_image {
    width: 20em;
    margin: 1.5em 0;
}

.apparatus_list {
    margin-bottom: 1.5em;
    width: 100%;
}

.audit_text {
    margin: 1em 7em;
    align-self: flex-start;
}

.news_title {
    color: firebrick;
    margin-bottom: 1em;
}

.news_text {
    color: black;
    padding: 0 3em;
    padding-bottom: 1em;
    width: 100%;
    font-size: 100%;
    line-height: 1.5em;
}

#milestone_list {
    align-self: flex-start;
    padding-bottom: 1em;
}

.news_list_item {
    color: black;
    margin-left: 3em;
    font-size: 100%;
}

.news_image {
    width: 100%;
    border: 3px white solid;
    box-shadow: 1px 1px 5px black;
}

.milestone_image {
    max-width: 35%;
    margin-bottom: 1em;
}

#annual_report_title {
    margin-bottom: 1em;
}

.annual_report_download, .annual_report_text {
    align-self: flex-start;
    margin: 0.5em 1em;
}

.annual_report_text {
    color: black;
}

.in_remembrance_image {
    float: left;
    margin: 1.5em;
    width: 15em;
}

.in_remembrance_text {
    margin-top: 1.5em;
    padding-right: 15em;
}

.station_locations_image, .station_locations_text {
    margin: 1.5em;
}

.station_locations_text {
    align-self: flex-start;
}

#address_signs {
    display: block;
}

.address_signs_image {
    display: block;
    float: right;
}

.address_signs_text {
    display: block;
}

#emergency_rescue {
    align-items: flex-start;
}

.emergency_rescue_div {
    display: flex;
}

.emergency_rescue_list_item {
    padding-bottom: 1em;
}

#public_records {
    align-items: flex-start;
}

#public_records_title {
    align-self: center;
}

#public_records a {
    padding-bottom: 1em;
}

#unwanted_meds {
    display: block;
}

.unwanted_meds_div {
    margin-bottom: 1em;
}

.subpage_div .unwanted_meds_text {
    margin-top: 0;
    margin-bottom: 0;
}

.bold {
    font-weight: bold;
}

@media (min-width: 1500px) {
    .article_image {
        height: 4vw;
        width: 4vw;
    }
}

.article_title {
    font-weight: bold;
}

.article_date {
    color: grey;
    font-size: 75%;
}

.article_text {
    color: black;
}

#contacts_feed {
    overflow: auto;
    padding-top: 2em;
}

#contacts_title {
    color: black;
    text-align: center;
    margin-bottom: .5em;
}

#contacts_emergency {
    text-align: center;
    padding-bottom: 0;
}

#contacts_header {
    color: black;
    text-align: center;
}

.contacts {
    display: grid;
    grid-row-gap: 1em;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 120px);
    align-items: start;
    padding: 2em;
    padding-bottom: 0;
    color: black;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.person * {
    text-align: center;
}

.person_name, .person_title {
    font-weight: bold;
}

.person_email a {
    color: firebrick;
    text-decoration: none;
}

.person_email a:hover, .person_email a:focus {
    color: darkred;
    text-decoration: underline;
}

#contacts_footer, #contacts_address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts_footer * {
    margin-bottom: 1em;
}

#contacts_footer *, #contacts_address * {
    color: white;
    text-align: center;
    padding: 0 1em;
}

#contacts_footer {
    margin-bottom: 1em;
}

#contacts_footer p strong {
    padding: 0;
}

#contacts_address {
    padding-bottom: 2em;
}

#contacts_address p:first-of-type {
    font-weight: bold;
}

#contacts_address a {
    color: firebrick;
    text-decoration: none;
}

#contacts_address a:hover, #contacts_address a:focus {
    color: darkred;
    text-decoration: underline;
}

#privacy_policy {
    padding: 2em;
    align-items: flex-start;
}

#privacy_policy_title {
    color: firebrick;
    font-size: 150%;
    align-self: center;
    margin-bottom: 0;
}

#privacy_policy h4 {
    color: white;
    background-color: firebrick;
    width: 100%;
    padding-left: 2em;
    margin-top: 1em;
}

#privacy_policy p {
    color: black;
    padding-top: 1em;
    padding-left: 2em;
}

#privacy_policy a {
    color: firebrick;
    text-decoration: none;
}

#privacy_policy a:hover, #privacy_policy a:focus {
    color: darkred;
    text-decoration: underline;
}

footer {
    margin-top: auto;
    padding: .3em 0;
    background-color: #1a1a1a;
    width: 100vw;
}

footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
}

footer ul li {
    color: white;
    font-size: 75%;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover, footer ul li a:focus {
    color: firebrick;
}

#cookies {
    text-align: center;
    color: rgb(75, 75, 75);
}

@media (max-width: 700px) {
    .navbar.desktop, .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    #slogan_phone * {
        padding: .5em 0;
    }

    body {
        font-family: sans-serif;
        font-size: 100%;
        line-height: 1.5em;
        background: #757575;
        background-image: url("images/zenbg-1.png"), url("images/zenbg-2.png");
        background-repeat: repeat-x, repeat;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .navbar.mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        height: 7em;
    }
    
    .patch.mobile {
        height: 100px;
        width: 100px;
    }

    .title {
        text-align: center;
        font-size: 125%;
    }
    
    .nav_button.mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 66px;
        width: 66px;
        background-color: #1a1a1a99;
        border-radius: 3px;
    }

    .nav_button.mobile .nav_button_line {
        width: 41px;
        height: 7px;
        background-color: whitesmoke;
        border-radius: 1em;
    }

    
    .nav_header.mobile, .dropdown_link.mobile {
        background-color: #1a1a1a;
        border-bottom: 2px white solid
    }
    
    .nav_header.mobile {
        padding: .5em;
    }

    .nav_header_first.mobile {
        border-top: 2px white solid;
    }
    
    .dropdown_link.mobile {
        padding: .5em;
        color: white;
        text-decoration: none;
        padding-left: 1.5em;
    }
    
    .dropdown_link.mobile:hover, .dropdown_link.mobile:focus {
        color: firebrick;
    }
    
    #navbar_links_mobile {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    #main_header {
        height: 10em;
    }

    .logo_slideshow {
        display: none;
    }

    #slogan_phone {
        justify-content: center;
        height: 100%;
    }

    #slogan_phone * {
        font-size: 80%;
        line-height: 65%;
    }

    .content {
        height: calc(100% - 7em);
    }

    main {
        flex-direction: column;
        flex-flow: column-reverse;
        align-items: center;
        justify-content: flex-start;
        padding: 1em 0;
        height: calc(100% - 10em);
    }

    #sidebar {
        width: 100%;
        margin-bottom: 1em;
        flex: 1 1 50%;
    }

    #helpful_links {
        display: none;
    }

    .main_info {
        width: 92%;
        flex: 1 1 80%;
        margin: 0;
        margin-bottom: 2em;
    }

    .footer_second, .footer_third, .footer_fourth {
        display: none;
    }
}